/*header*/
.header_wrap { position: absolute; z-index: 3;}
/*로고*/
.header_con .logo_image{ margin-top:60px; width: 160px; height: 50px; }
/*메뉴*/
.header_con .header_menu {margin-top:65px;}
.header_con .header_menu li{color:#ffffff; font-size: 19px;display:inline-block; margin-right: 50px; }
/*로그인 회원가입*/
.header_con .header_member{margin-top:60px;}
.header_con .header_member li{ color:#ffffff; font-size: 13px; display:inline-block; padding-left:20px; }
.header_con .member_line{ opacity: 0.5; }
/*버튼 */
.header_con .header_button{margin-top:55px; margin-right:10px; margin-left:10px  }
.header_con .header_button_line{  margin-top:10px;  width:50px;  height:2px;  background-color:#ffffff;  }
/*--------------*/

/*main visual*/
.main_visual_wrap{  height:1030px;  }

.main_visual_wrap .main_visual_image{  position:absolute;  height: 100%;  background-image: url('../img/main_visual_image.jpg');  z-index:-3; }
.main_visual_wrap .main_visual_dim{  position: absolute;  height:100%;  background-color: rgba(0,0,0,0.5);  }

.main_visual_con{  height:100%;  }
.main_visual_con .main_visual_content1{  text-align: center;  font-size:30px;  color:#ffffff;  z-index:3;  margin-top:360px;  margin-bottom: 30px;  font-weight: lighter;  }
.main_visual_con .main_visual_content2{  text-align: center;  font-size:70px;  color:#ffffff;  z-index:3;  line-height: 97%;  }
.main_visual_con .main_visual_content3{  text-align: center;  font-size:15px;  color:#ffffff;  z-index:3;  opacity: 0.5;  }

.main_visual_con .main_visual_line{ height:10px;  margin-top:40px;  margin-bottom: 40px; }
.main_visual_con .main_visual_line .white_line{  width:100px;  height:3px;  background-color:#ffffff; }

.main_visual_con .main_visual_radio_content{  text-align: center;  margin-top: 260px; }
.main_visual_con .radio_btn{  width: 8px;  height: 8px;  margin-right: 15px;  position: relative; }
.main_visual_con .radio_btn:checked:after{  display: inline-block;  }
.main_visual_con .radio_btn:after{  content: "";  width: 10px;  height: 10px;  border-radius: 50%;  background-color: #ffffff;  box-sizing: border-box;  position: absolute;  left: 0;  top: -1px;  display: none;  cursor: pointer; }
.main_visual_con .radio_btn:before{  content: "";  width: 10px;  height: 10px;  border-radius: 50%;  background-color: #4d5156;  box-sizing: border-box;  position: absolute;  left: 0;  top: -1px;  cursor: pointer; }
/*===================================================================*/

/*contents*/

/*program*/
.content_wrap {}

.program_name_content .program_name1{  font-size: 30px; font-weight: bold;  text-align: center;  margin-top: 100px; letter-spacing: 0.04em;}
.program_name_content .program_name2{  font-size: 15px;  text-align: center;  margin-top: 20px; color:#969595;     }
.program_name_content .content_line{  height:10px;  margin-top:40px;  margin-bottom: 40px;  }
.program_name_content .blue_line{  width:80px;  height:3px;  background-color:#31aae2;  }


.program_intro_content .intro_content{  display: inline-block; padding-left: 40px;  }

.program_intro_content .intro_text_box{ float: left;  }
.program_intro_content .intro_name_style{  font-size:18px  }
.program_intro_content .intro_subject_style1{  font-size:13px;  margin-top: 30px; color:#969595;     }
.program_intro_content .intro_subject_style2{  font-size:13px;  margin-top: 30px; margin-bottom: 130px; color:#31aae2; display: inline-block; }

.program_intro_content .intro_img_box{ float: left;  }
.program_intro_content .intro_img1{width:170px; height: 170px;  border-radius: 100px;  border: none;  background-image: url('../img/program_img1.png');  float:right;  margin-right: 50px;  }
.program_intro_content .intro_img2{width:170px; height: 170px;  border-radius: 100px;  border: none;  background-image: url('../img/program_img2.png');  float:right;  margin-right: 50px;  }
.program_intro_content .intro_arrow_style1{ width: 20px; height: 20px; border-radius:100px; background-color:#ffffff; float: right; margin-left: 13px; border:1px solid #31aae2; text-align: center;}
.program_intro_content .intro_arrow_style1 .arrow_img{ width: 5px; height: 8px; }

/*=====================================================================*/
/*media*/
.media_con {height:580px;  }

.media_con .media_img{position:absolute; height: 100%; background-image: url('../img/media_img.png');  }
.media_con .media_dim{position:absolute; height:100%;  background-color: rgba(0,0,0,0.5); }

.media_con .media_content{height:100%;}

.media_content .media_content1{font-size: 30px; color:#ffffff; text-align: center; margin-top: 75px; color:#ffffff;}
.media_content .media_content2{font-size: 15px; color:#ffffff; text-align: center;  opacity: 0.8;}
.media_content .media_content3{font-size: 18px; color:#ffffff; text-align: center; margin-top: 30px; opacity: 0.8;}
.media_content .media_line {height:10px; margin-top: 30px;}
.media_content .media_line .white_line{width:80px;  height:3px; background-color:#ffffff; }

.media_content .media_playbtn{width: 60px; height: 60px; border-radius: 100px; margin-top: 70px;  background-color: #31aae2;}
.media_content .media_img1{width: 10px; height: 17px; margin-left: 27px; margin-top: 22px;}

.media_program_box{margin-top: 100px; text-align: center;}

.media_program_box .media_program_name{float: right; width: 170px; border-top:1px solid;  margin-right: 10px; padding-top:15px; opacity: 0.5;}

.media_program_box .media_program_style{height:60px; font-size:13px; color:white;   text-align: center; marmgin-top: 90px; display: inline-block;}
.media_program_box .media_program_style :hover{color:#ffffff; width: 200px; opacity: 1.0;}

.media_program_box .media_program_line :hover{background-color: #007aff}

/*media*/
/*facility*/
.facility_text_content .facility_text1{font-size:30px; font-weight:bold; text-align: center; margin-top:70px;}
.facility_text_content .facility_text2{font-size:15px; color:#969595; text-align: center;}

.facility_text_content .facility_line{ width:80px;  height:3px;  background-color:#31aae2; margin-top:30px; margin-bottom: 50px;}

.facility_img_content{display: inline-block}

.facility_img_content .facility_img_box{float: left;}

.facility_img_content .facility_img1{width:390px; height:265px; background-image: url('../img/facility_img1.png'); }
.facility_img_content .facility_img2{width:390px; height:265px; background-image: url('../img/facility_img2.png'); }
.facility_img_content .facility_img3{width:390px; height:265px; background-image: url('../img/facility_img3.png'); }
.facility_img_content .facility_img4{width:390px; height:265px; background-image: url('../img/facility_img4.png'); }
.facility_img_content .facility_img5{width:390px; height:265px; background-image: url('../img/facility_img5.png'); }
.facility_img_content .facility_img6{width:390px; height:265px; background-image: url('../img/facility_img6.png'); }

.facility_img_content .facility_hover{height:90px; background-color: #000000;opacity: 0.6; position: absolute; bottom:0px; visibility: ; }
.facility_img_content .facility_hover:hover{visibility: visible;}


.facility_img_content .hover_text1{font-size:15px; text-align: center; color: #ffffff; padding-top:30px; }
.facility_img_content .hover_text2{font-size:12px; text-align: center; color: #9c9c9c;}


/*=====================================================================*/

/*footer*/





/*로고*/

/*메뉴*/









