/*헤더메뉴*/

.menu_wrap { text-align:center; }
.menu_wrap .menu_inb li { display: inline-block; font-size:19px; color: #FFFFFF; line-height: 47px; }
.menu_wrap .menu_inb li a { display: block; padding: 0px 27px; height: 47px; }
.menu_wrap .menu_inb li a:hover { color: #FFFFFF; font-weight: 700; }
.menu_wrap .menu_inb li a span { position: relative;}
.menu_wrap .menu_inb li a:hover span:after { position:absolute; left: 0px; bottom: -2px; content: "";
                                                display: block; width: 100%; height: 1px; background: #FFFFFF; z-index: 100;}
/*로그인,회원가입*/
.menu_wrap .menu_mem li { display: inline-block; font-size:13px; color: #FFFFFF; line-height: 47px; }
.menu_wrap .menu_mem li a { display: block; padding: 0px 20px;height: 47px; }
.menu_wrap .menu_mem li:last-child a { padding-right: 0px;}
.menu_wrap .menu_mem h1 { position: absolute; top:0px; right:12px; }
.menu_wrap .menu_mem .bar { opacity: 0.2 }

.menu_wrap .menu_icon_wrap h1 img{ padding-left: 18px; padding-right: 13px;}

.menu_wrap{font-size: 19px; font-size: 1.9rem; line-height:25px; line-height:2.5rem; font-weight: 400; letter-spacing: -0.045em; color: #fff;}
