@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url("https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css");
/*헤더메뉴*/
.header_wrap { font-family: 'Nanum Barun Gothic'; z-index: 1;}
.header_wrap a img { margin-right: 6px;}

.menu_wrap { text-align:center;}
.menu_wrap .menu_gnb li { display: inline-block; margin-right: 50px; font-size:19px; font-size:1.9rem; line-height: 25px; line-height: 2.5rem; color: #FFFFFF; }
.menu_wrap .menu_gnb li:last-child { margin-right: 0px;}
.menu_wrap .menu_gnb li a { display: block; }
.menu_wrap .menu_gnb li:last-child a { margin-right: 0px;}
.menu_wrap .menu_gnb ul { padding-top: 13px; margin-right: 51px;}
.menu_wrap .menu_gnb li a:hover { color: #FFFFFF; font-weight: 700; }
.menu_wrap .menu_gnb li a div { position: relative;}
.menu_wrap .menu_gnb li a:hover div:after { position:absolute; left: 0px; bottom: -9px; content: "";
                                                display: block; width: 100%; height: 3px; background: #FFFFFF; z-index: 100;}
.header_wrap .header_logo a { padding: 12px 0px }

/* 로그인 및 회원가입 */
.menu_wrap .menu_mem ul { padding-top: 17px; }
.menu_wrap .menu_mem li { position: relative; display: inline-block; padding-right: 21px; margin-right: 20px; font-size:13px; font-size:1.3rem; line-height:19px; line-height: 1.9rem; letter-spacing: -0.024em; font-weight: 300; color: #FFFFFF; }
.menu_wrap .menu_mem li a{ display: block;}
.menu_wrap .menu_mem li:before { position: absolute;  top: 3px; right: 0px; content:""; height: 12px; border-right: 1px solid rgba(255,255,255,0.2);}
.menu_wrap .menu_mem li:last-child:before { border-right: none }
.menu_wrap .menu_mem li:last-child { margin-right: 1px; margin-left: 1px;}
.menu_wrap .menu_mem li:last-child a { padding-right: 0px;}
.menu_wrap .menu_mem h1 { position: absolute; top:0px; right:12px; }

.menu_wrap .menu_icon_wrap a { display:block; height: 47px; margin-right: 12px; }
.menu_wrap .menu_icon_wrap a .menu_icon { display:block; position:relative; top: 57%; background: #FFFFFF; height:2px; width:47px; }
.menu_wrap .menu_icon_wrap a .menu_icon:before { content: ''; display:block; top:-11px; position:absolute; background: #FFFFFF; height:2px; width:47px; }
.menu_wrap .menu_icon_wrap a .menu_icon:after { content: ''; display:block; top:11px; position:absolute; background: #FFFFFF; height:2px; width:47px; }

/* 메인 비주얼메뉴*/
.main_visual_wrap { position:absolute; top: 0; left: 0; height:1034px; font-family:'Nanum Barun Gothic'; }
.main_visual_wrap .bg_img { position:absolute; height: 1034px; background-image: url("../img/background.png"); background-repeat: no-repeat; background-position: center; background-size: cover; z-index:-2; }
.main_visual_wrap .bg_dim { position: absolute; height: 1034px;  background-color: rgba(0, 0, 0, 0.5);  z-index: -1; }
.main_visual_wrap .main_title_wrap { margin-top: 360px; text-align: center; color: #FFFFFF; z-index: 1;}
.main_visual_wrap .main_title_wrap .main_title_1 { font-size:30px; font-size:3.0rem; line-height: 36px; line-height: 3.6rem; letter-spacing: -0.025em; font-weight: 300;}
.main_visual_wrap .main_title_wrap .main_title_2 { font-size:70px; font-size:7.0rem; line-height:80px; line-height:8.0rem; font-weight: 400; margin-top: 30px; letter-spacing: -0.025em;}
.main_visual_wrap .main_title_wrap .main_title_2:after { display: block; width: 100px; line-height: 1; height: 2px; background: #FFFFFF; content:''; margin: 43px auto 45px; }
.main_visual_wrap .main_title_wrap .main_con_1 { font-size:15px; font-size:1.5rem; line-height:21px; line-height:2.1rem;  color: rgba(255,255,255,0.5); font-weight: 300; /*word-spacing: 25px;*/ letter-spacing: -0.045em;}

/* program */
.program_wrap { font-family:'Nanum Barun Gothic'; position:absolute; top:1034px; height: 523px; background-color: #FFFFFF}
.program_wrap .intro { margin-top: 100px; text-align: center; }
.program_wrap .intro .intro_title { text-transform:uppercase; font-size:30px; font-size:3.0rem; line-height:36px; line-height:3.6rem; letter-spacing: 0.040em; font-family:'Open Sans'; font-weight: 700; }
.program_wrap .intro .intro_con { font-size:15px; font-size:1.5rem; line-height: 21px; line-height: 2.1rem; letter-spacing: 0.040em; font-weight: 300; color: #969595; margin-top:19px;}
.program_wrap .intro .intro_con:after { display: block; width:83px; height: 2px; margin: 31px auto 0px; content: ''; background: #31aae2; }

.program_wrap .program_inner .program_main_wrap { height:270px;}
.program_wrap .program_inner .program_inner_wrap { display:inline-block; height: 168px; margin-right: 97px;}
.program_wrap .program_inner .program_inner_wrap:last-child { margin-right: 0px;}
.program_wrap .program_inner .program_inner_title { text-transform:uppercase; font-size:18px; font-size:1.8rem; line-height:24px; line-height: 2.4rem; }
.program_wrap .program_inner .program_inner_con { margin-top: 26px; color: #969595; font-size:13px; font-size:1.3rem; line-height:24px; line-height:2.4rem; letter-spacing: -0.025em; font-weight: 300; }
.program_wrap .program_inner .program_inner_button { display: inline-block; margin-top: 30px; color: #31aae2;}
.program_wrap .program_inner .program_inner_button a { font-size:13px; font-size:1.3rem; line-height:19px; line-height:1.9rem; letter-spacing: -0.025em; }
/* read more 버튼 부분 */
/*
.program .program_con .program_con_li_button a:after { margin-left:10px; background: #39ade3; width: 20px; height: 20px; content: ''; border: 1px solid #39ade3; }
*/
/* media */

.media_wrap { font-family:'Nanum Barun Gothic'; position: absolute; top: 1557px; height: 587px;}
.media_wrap .media_bg_img { position:absolute; height: 587px; background-image: url("../img/background_media.png"); background-position: center; background-size: cover; background-repeat: no-repeat; z-index:-2; }
.media_wrap .media_bg_dim { position: absolute;  height: 587px; background-color: rgba(0, 0, 0, 0.5); z-index: -1;}
.media_wrap .intro { margin-top: 80px; text-align: center; }
.media_wrap .intro .intro_title { text-transform:uppercase; color: #FFFFFF; font-size:30px; font-size:3.0rem; line-height:36px; line-height:3.6rem; letter-spacing: 0.040em; font-family:'Open Sans'; font-weight: 700; }
.media_wrap .intro .intro_con { font-size:15px; font-size:1.5rem; line-height: 21px; line-height: 2.1rem; letter-spacing: 0.040em; font-weight: 300; color: #FFFFFF; margin-top:19px;}
.media_wrap .intro .intro_con:after { display: block; width:83px; height: 2px; margin: 31px auto 0px; content: ''; background: #FFFFFF; }

.media_wrap .media_play_btn a{ padding: 21px 0 25px;}
.media_wrap .media_main_con { font-size:18px; font-size:1.8rem; line-height:24px; line-height:2.4rem; font-weight: 300; color: #FFFFFF; text-align: center; margin-top: 30px;}

.media_wrap .media_select_bar_wrap .media_select_bar_wrap_wrap { display: inline-block; }
.media_wrap .media_select_bar_wrap .media_select_bar { display:block; width: 176px; height: 1px; background: #FFFFFF; content: ''; margin-top: 102px; }
.media_wrap .media_select_bar_wrap .media_select_bar_con{ margin-top: 18px; color: #FFFFFF; font-size:13px; font-size:1.3rem; line-height:19px; line-height:1.9rem; font-weight: 200; }

